@font-face {
  font-family: 'Freshman';
  src: url('../pix/Freshman.ttf') format('truetype');
}

/* @import 'https://fonts.googleapis.com/css?family=Graduate'; */

h1.home {
   font-family: 'Freshman', Helvetica;
   font-size: 500%;
   font-weight: normal;
   color: #050;
   margin-bottom: .5em;
}

.jumbotron.stadium {
  padding: 0px;
  @media (min-width: 567px) {
    img {height: 9em; width: 100%; object-fit: cover;}
   }
  @media (min-width: 767px) {
    img {height: 11em; width: 100%; object-fit: cover;}
   }
  @media (min-width: 967px) {
    img {height: 18em; width: 100%; object-fit: cover;}
   }
}


