@import 'https://fonts.googleapis.com/css?family=Graduate';

h1.home {
   font-family: 'Graduate', Helvetica;
   margin-bottom: 2em;
}

.jumbotron.stadium {
  padding: 0px;
  @media (min-width: 567px) {
    img {height: 9em; width: 100%; object-fit: cover;}
   }
  @media (min-width: 767px) {
    img {height: 11em; width: 100%; object-fit: cover;}
   }
  @media (min-width: 967px) {
    img {height: 18em; width: 100%; object-fit: cover;}
   }
}


