@import 'https://fonts.googleapis.com/css?family=Baloo+Bhai';
@import 'https://fonts.googleapis.com/css?family=Raleway:400,900';
@font-face {
  font-family: 'Freshman';
  src: url('../pix/Freshman.ttf') format('truetype');
}

$logo_blue: #51c1b1;
$logo_green: #7dc46c;

h1.home.stadium {
   font-family: 'Freshman', Helvetica;
   font-weight: normal;
   color: #050;
   margin-bottom: .5em;
   font-size: 500%;
   @media screen and (max-width: 500px) {
     font-size: 400%;   
   }
}

h1.logo {
   font-family: 'Raleway', sans-serif;
   background-color: rgba(255,255,255,.4);
   transform: skew(-10deg, 0deg);
   text-align: center;
   font-weight: 900;
   margin-top: 1em;
   margin-bottom: .5em;
   font-size: 500%;
   .fit { 
     color: #AAA;
     background: -webkit-linear-gradient(lighten($logo_green, 20%), lighten($logo_blue, 20%));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     -webkit-text-stroke: 1px #999;
    }
   .black { 
     color: #333;
     transform: skew(-30deg, 0deg);
    }
}

a.btn {
 color: black;
}

a.btn-primary {
 color: white;
}

img.slant {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100px;
    height: 100%;
    &.left {  left: 0;}
    &.right { right: 0;}
}

.progress-indicator.daily {
   position: absolute;
   left: 0px;
   top: .5em;
   width: 100%;
}

.progress-indicator.custom-complex {
  background-color: rgba(255,255,255,.4);
  padding: 10px 5px;
  border-radius: 4px;
}

.progress-indicator.custom-complex > li .bubble {
  height: 12px;
  width: 99%;
  border-radius: 2px;
  box-shadow: inset -5px 0 12px rgba(0, 0, 0, 0.2);
}

.progress-indicator.custom-complex > li .bubble:before,
.progress-indicator.custom-complex > li .bubble:after {
  display: none;
}

.jumbotron.stadium {
  padding: 0px;
  @media (min-width: 567px) {
    img {height: 9em; width: 100%; object-fit: cover;}
   }
  @media (min-width: 767px) {
    img {height: 11em; width: 100%; object-fit: cover;}
   }
  @media (min-width: 967px) {
    img {height: 18em; width: 100%; object-fit: cover;}
   }
}
